body {
  background-color: #e5e5e5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-webstudio {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.filter-briefcase {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
}

.title-information {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

.contens-information {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}

footer {
  color: white;
  background-color: #2f303a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.a-footer {
  color: #ffffff99;
}
